textarea{
  width: 200px;
  height: 200px;
}

.chat-wrap{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #dddddd;
  padding: 7px 7px 0;
  border-radius: 5px;
}

.pull-right{
  cursor: pointer;
}
